<% include ./partials/head.ejs %>
  </nav>
  <title></title>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <div class="bounce-in-down">
    <h1>P·USIC·IFY</h1>
  </div>
  <div class="bounce-in-right">
    <caption>Personalized Music with Spotify</caption>
  </div>
  <div class="bounce-in-up">
    <p>Developed by Sharon Chang</p>
  </div>
<% include ./partials/footer.ejs %>
