<% include ./partials/head.ejs %>
  <nav>
    <li><a href="#">Home</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li>
  </nav>
  <title></title>
</head>
<body>
  <form action="index.html" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="first_name" placeholder="first_name">
    <input type="text" name="last_name" placeholder="last_name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
  </form>
<% include ./partials/footer.ejs %>
