@font-face {
  font-family: 'Open Sans';
  src: url('/font/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Fontello';
  src: url('/font/cart.ttf');
}

i {
  font-family: 'Fontello';
  font-style: normal;
}
/*
E800 - Play
E801 - Pause
E802 - Stop
E803 - Prev
E804 - Next
E805 - Edit
E806 - Share
E807 - Share
*/

html, body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /*margin: 0;
  padding: 0;*/
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('http://cdn1.theodysseyonline.com/files/2015/12/20/6358623850982099701625905936_concert%20crowd.jpg') no-repeat center;
  background-size: cover;
  margin-top: 70px;
  /*background: #111;*/
  font-size: 15px;
  text-align: center;
  /*font-family: 'Arial';*/
  color: white;
  /*border: 1px solid black;*/
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: white;
}

nav {
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 47px;
  text-align: left;
  box-shadow: 0 5px 50px 5px rgba(255, 255, 255, 0.2);;
  opacity: .5;
  /*padding: 10px;*/
}

nav h3 {
  margin-top: 11px;
  margin-left: 10px;
}

#logout {
  position: absolute;
  top: 11px;
  right: 10px;
}

nav li {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  padding: 5px;
  margin-left: .5rem;
  margin-right: .5rem;
}

nav li a {
  text-decoration: none;
  padding: 1rem;
  color: #999;
}

input {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

/*#add-song {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: double 10px rgba(255,255,255,0.3);
  border-radius: 50px;
  background: rgba(255,255,255,0.7)
  background-clip: padding-box;
}*/

table {
  border-collapse: collapse;
  /*background: rgba(255, 255, 255, 0.1);*/
  width: 90%;
  margin: 0 auto;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}

td {
  /*border: 3px solid rgba(0, 0, 0, 0.5);*/
  border: solid 15px rgba(255,255,255,0.0);
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: 25%;
}
