<% include ../partials/head.ejs %>
  <nav>
    <h3>MUSIC APP</h3>
    <!-- <li><a href="#">Home</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li> -->

    <!-- if login is true -->
		<% if (login) { %>
      <a id="logout" href="/users/logout">logout</a>
    <% } %>
  </nav>
  <title></title>
</head>
<body>
  <% if (!login) { %>
    <h3>Sign Up</h3>
    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="Username"><br>
      <input type="text" name="first_name" placeholder="First Name"><br>
      <input type="text" name="last_name" placeholder="Last Name"><br>
      <input type="text" name="email" placeholder="E-mail"><br>
      <input type="text" name="password" placeholder="Password"><br>
      <button>Sign Up</button>
    </form>
    <h3>Log In</h3>
    <form action="/users/login" method="POST">
      <input type="text" name="username" placeholder="Username"><br>
      <input type="text" name="password" placeholder="Password"><br>
      <button>Log In</button>
    </form>
  <% } %>
<% include ../partials/footer.ejs %>
