<% include ../partials/head.ejs %>
    <div class="right-nav-div">
      <li><span>Welcome, <%=user.first_name%></span></li>
      <li><a id="logout" href="/users/logout">Logout</a></li>
    </div>
  </nav>
  <title></title>
</head>
<body>
  <div class="fade-in">
    <a href="/users/<%=user.id%>">Back</a>
    <h3>Add New Playlist</h3>
    <form action="/users/<%=user.id%>/newlist" method="POST">
      <input type="text" name="playlist_name" placeholder="Playlist Name">
      <button>Add</button>
    </form>
  </div>
<% include ../partials/footer.ejs %>
