<% include ../partials/head.ejs %>
<nav>
  <h3>MUSIC APP</h3>
  <!-- <li><a href="#">Home</a></li>
  <li><a href="#">Sign Up</a></li>
  <li><a href="#">Log In</a></li> -->
  <a id="logout" href="/users/logout">logout</a>
</nav>
  <title></title>
</head>
<body>
  <h3>Add New Playlist</h3>
  <form action="/users/<%=id%>/newlist" method="POST">
    <input type="text" name="playlist_name" placeholder="Playlist Name">
    <button>Add</button>
  </form>
<% include ../partials/footer.ejs %>
