<% include ../partials/head.ejs %>
  <nav>
    <h3>MUSIC APP</h3>
    <!-- <li><a href="#">Home</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li> -->
  </nav>
  <title></title>
</head>
<body>
  show page
<% include ../partials/footer.ejs %>
