<% include ../partials/head.ejs %>
  <nav>
    <h3>MUSIC APP</h3>
    <!-- <li><a href="#">Home</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li> -->
    <a id="logout" href="/users/logout">logout</a>
  </nav>
  <title></title>
</head>
<body>
  <a href="/users/<%=id%>/new">Add New Playlist</a>
<% include ../partials/footer.ejs %>
