<% include ../partials/head.ejs %>
  <nav>
    <h3>MUSIC APP</h3>
    <!-- <li><a href="#">Home</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li> -->
    <a id="logout" href="/users/logout">logout</a>
  </nav>
  <title></title>
</head>
<body>
  <a href="/users/<%=id%>/newlist">Add New Playlist</a>
  <% for (var i=0; i < playlist.length; i++) { %>
    <h3><%= playlist[i].playlist_name %></h3>
  <% } %>
<% include ../partials/footer.ejs %>
